body {
    margin-top: 100px;
}

ul li {
    border: grey 1px solid;
    list-style: none;
    padding: 5px;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

imput {
    border: none;
    width: 100%;
}

svg {
    margin-left: 10px;
}